/* basic setting */
$color-bg-body: #fafafa;
$color-bg-white: #fcfcfc;
$color-bg-black: #222222;
$color-bg-red: #cb4042;
$color-bg-gold: #fed490;

$color-font-white: #ffffff;
$color-font-black: #222222;
$color-font-red: #cb4042;
$color-font-gold: #fed490;

/* project setting */
$background-color: #fafafa;

$Y1: #ffde00;
$Y2: #998000;
$Y3: #5f3d21;
$G1: #8e8b39;
$B1: #000000;
